/*  common share styles*/
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: orangered;
}
.btn-primary{
    border-color: brown;
    background-color: blueviolet;
        padding: 15px 40px;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    color: blueviolet;
    font-size: 70px;
    font-weight: 1000px;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav  li{
    list-style: none;
    margin-right: 55px;
}
nav a{
    text-decoration: none;
   color: brown; 
}